h4 {
	color: black;
}

h3 {
	text-decoration: underline;
}
#deliverForm {
	display: none;
}
#contact {
	display: none;
}
table, th, td {
    border: 1px solid black;
}
html {
	background-color: #bf5530;
	color: white;
}
.container-fluid {
	background-color: #bf5530;
	color: white;
}
#customOrder {
	background-color: #bf5530;
	color: white;	
}
